# Игнорируем папку out
out/


# Игнорируем файлы IDE
.idea/
*.iml

# Игнорируем классы Java
*.class

# Игнорируем файлы журналов
*.log

# Игнорируем временные файлы
*.tmp
*.temp

# Игнорируем системные файлы
.DS_Store
Thumbs.db